<% if genres.present? %>
  <div class="genres">
    <% genres.each do |genre| %>
      <%= link_to genre.name, items_path(genre_id: genre.id) %>
    <% end %>
  </div>
<% else %>
  <p>ジャンルが見つかりませんでした。</p>
<% end %>