<footer class="container-fluid border-top align-items-center">
  <div class="row w-100 justify-content-center">
    <div class="col-4 text-center">
      <% flash.each do |key, message| %>
      　　<div class="alert alert-<%= key %> mb-2"><%= message %></div>
      <% end %>
    </div>
  </div>
</footer>

